<ul class="list-unstyled right-links touch-screen">
    {{ range .Site.Params.TopMenu }}
        <li>
            <a href="{{ .url | relURL }}">
                <span class="post-title">{{ .name }}</span>
            </a>
        </li>
    {{ end }}
</ul>
<details id="right-links-details" class="right-links">
    <summary>
        <iconify-icon icon="line-md:menu"></iconify-icon>
    </summary>
    <ul class="drop-shadow">
        {{ range .Site.Params.TopMenu }}
            <li>
                <a href="{{ .url | relURL }}">
                    <span class="post-title">{{ .name }}</span>
                </a>
            </li>
        {{ end }}
    </ul>
</details>
