{{ $icon := .Get 0 | default "bx:question-mark" }}
{{ $size := .Get "size" | default "24px" }}
{{ $color := .Get "color" | default "currentColor" }}
{{ $label := .Get "label" }}
{{ $class := .Get "class" }}


<iconify-icon
    style="color: {{ $color }};"
    {{ printf "icon=%s" $icon | safeHTMLAttr }}
    width="{{ $size }}"
    height="{{ $size }}"
    {{ if $label }}
        label="{{ $label }}"
    {{ else }}
        label="{{ $icon }}"
    {{ end }}
    {{ with $class }}class="{{ . }}"{{ end }}
    inline></iconify-icon>
