//   _____     __
//  / ___/__  / /__  _______
// / /__/ _ \/ / _ \/ __(_-<
// \___/\___/_/\___/_/ /___/

// Gruvbox 5ever
:root {
    --dark0-hard: #1d2021;
    --dark0: #282828;
    --dark0-soft: #32302f;
    --dark1: #3c3836;
    --dark2: #504945;
    --dark3: #665c54;
    --dark4: #7c6f64;
    --light0-hard: #f9f5d7;
    --light0: #fbf1c7;
    --light0-soft: #f2e5bc;
    --light1: #ebdbb2;
    --light3: #bdae93;
    --light4: #a89984;

    --bright-red: #fb4934;
    --bright-green: #b8bb26;
    --bright-yellow: #fabd2f;
    --bright-blue: #83a598;
    --bright-purple: #d3869b;
    --bright-aqua: #8ec07c;
    --bright-orange: #fe8019;

    --neutral-red: #cc241d;
    --neutral-green: #98971a;
    --neutral-yellow: #d79921;
    --neutral-blue: #458588;
    --neutral-purple: #b16286;
    --neutral-aqua: #689d6a;

    --faded-green: #79740e;
    --faded-blue: #076678;
    --faded-purple: #8f3f71;
    --faded-aqua: #427b58;
    --gray: #928374;
}
@mixin light-theme {
    --color-text: var(--dark1);
    --color-fg-darken: color-mix(in srgb, var(--dark1) 13%, transparent);
    --color-code-inline-bg: var(--light3);

    --color-text-for-darkbg: var(--light0-hard);

    --color-border-generic: var(--gray);

    --color-boxshadow: var(--dark4);
    --color-quote-border: var(--neutral-blue);

    /* These two copied from chroma theme (syntax.css) */
    --color-pre-text: #f8f8f2;
    --color-pre-bg: #272822;

    --color-sheet-bg: var(--light0-hard);
    --color-desktop-bg: var(--light0);

    --color-meta-text: #6a6a6a;

    --color-kbd-bg: var(--dark0-soft);
    --color-hr: var(--faded-aqua);
    --color-caption-text: var(--dark3);
    --color-btn-border: var(--dark4);
    --color-btn-hover-bg: var(--bright-purple);

    --color-draft-bg-stripe: var(--neutral-yellow);

    /*
    keep in sync with theme color in:
      - layouts/partials/meta.html
      - main.js
  */
    --color-header-brand-primary: var(--neutral-aqua);
    --color-header-brand-secondary-ddopacity: color-mix(
        in srgb,
        var(--neutral-aqua) 75%,
        transparent
    );
    --color-header-brand-secondary: var(--bright-purple);

    /* this color comes from reboot.css */
    --color-link-text: var(--neutral-blue);
    --color-link-hover: var(--faded-blue);

    --color-nav-text: var(--dark0);
    --color-timestamp-bkg-primary: var(--color-link-text);
    --color-timestamp-bkg-secondary: var(--color-link-hover);
    --color-timestamp-text: var(--color-text-for-darkbg);

    --color-theme-toggle-hover: var(--bright-yellow);

    --color-card-alternate: var(--light1);
    html {
        color-scheme: light;
    }
}
@mixin dark-theme {
    --color-text: var(--light1);
    --color-fg-darken: color-mix(in srgb, var(--light1) 13%, transparent);
    --color-code-inline-bg: var(--dark2);

    --color-text-for-darkbg: var(--light0);
    --color-border-generic: var(--dark2);

    --color-boxshadow: black;
    --color-quote-border: var(--bright-blue);

    /* I modified these but the lightmode ones come from chroma CSS */
    --color-pre-text: #e6e6e0;
    --color-pre-bg: #272822;

    --color-sheet-bg: var(--dark1);
    --color-desktop-bg: var(--dark0);

    --color-meta-text: var(--light4);
    --color-caption-text: var(--gray);

    --color-kbd-bg: var(--dark1);
    --color-hr: var(--bright-aqua);

    --color-btn-border: #777;
    --color-btn-hover-bg: var(--bright-purple);

    --color-draft-bg-stripe: #403629;

    /*
      keep in sync with theme color in:
        - layouts/partials/meta.html
        - main.js
    */
    --color-header-brand-primary: var(--bright-aqua);
    --color-header-brand-secondary-ddopacity: color-mix(
        in srgb,
        var(--bright-aqua) 75%,
        transparent
    );
    --color-header-brand-secondary: var(--bright-purple);

    --color-link-text: var(--bright-blue);
    --color-link-hover: var(--neutral-blue);

    --color-nav-text: var(--dark0);

    --color-timestamp-bkg-primary: var(--neutral-purple);
    --color-timestamp-bkg-secondary: var(--color-link-text);
    --color-timestamp-text: var(--color-text-for-darkbg);

    --color-theme-toggle-hover: color-mix(
        in srgb,
        var(--faded-purple) 75%,
        var(--dark0)
    );

    --color-card-alternate: var(--dark2);

    html {
        color-scheme: dark;
    }
}

[data-theme="dark"] {
    @include dark-theme;
}

[data-theme="light"] {
    @include light-theme;
}
