//   _____          __           __
//  / ___/__  ___  / /____ ___  / /_
// / /__/ _ \/ _ \/ __/ -_) _ \/ __/
// \___/\___/_//_/\__/\__/_//_/\__/

@use "variables" as *;
@use "colors" as *;
@use "mixins" as *;

// Post metadata
.post-date {
    color: var(--color-meta-text);
}

.post-tags,
.post-tags a,
.post-tags a:hover,
.post-tags a:visited {
    color: var(--color-meta-text);
}

// Article asides
aside.article-aside {
    background-color: var(--color-desktop-bg);
    padding: 0 var(--spacing-sm);
    margin-top: var(--spacing-lg);

    > p:first-child {
        margin-top: 1rem;
    }
}

// Content warnings
aside.content-warning {
    font-style: italic;
    margin-bottom: var(--spacing-lg);
    color: var(--color-meta-text);
    border-top: solid 1px var(--neutral-red);
    border-bottom: solid 1px var(--neutral-red);
    padding: var(--spacing-xxs) var(--spacing-sm);
    display: inline-block;

    p {
        display: flex;
        align-items: center;
        gap: var(--spacing-xxs);
    }
    > p:last-child {
        margin-bottom: 0;
    }
}

// Aside spacing after headings
h2,
h3,
h4,
h5 {
    + aside.article-aside {
        margin-top: var(--spacing-xs);
    }
}

// Tables
article table {
    margin: var(--spacing-xl) auto;
    border-bottom: 1px solid var(--color-header-brand-primary);

    thead {
        tr {
            border-bottom: 1px solid var(--color-header-brand-primary);
        }

        th {
            padding-bottom: var(--spacing-xs);
            font-family: $heading-font;
        }
    }

    tbody {
        tr:first-child td {
            padding-top: var(--spacing-sm);
        }

        tr:last-child td {
            padding-bottom: var(--spacing-sm);
        }
    }

    td,
    th {
        padding: var(--spacing-xxs) var(--spacing-xs);
        vertical-align: top;

        &:not(:first-child) {
            padding-left: var(--spacing-lg);
        }
    }
}

// Draft content styling
.look-sheet-bkg.draft {
    @include draft-stripes(var(--color-sheet-bg));
}

// Footnote backref fix for Firefox emoji bug
a.footnote-backref::before {
    content: " ";
}
