//    _  __          _           __  _
//   / |/ /__ __  __(_)__ ____ _/ /_(_)__  ___
//  /    / _ `/ |/ / / _ `/ _ `/ __/ / _ \/ _ \
// /_/|_/\_,_/|___/_/\_, /\_,_/\__/_/\___/_//_/
//                  /___/

@use "variables" as *;
@use "colors" as *;
@use "mixins" as *;

// Navigation background
.nav-bkg {
    color: var(--color-nav-text);
    @include brand-gradient(80%);

    a {
        color: var(--color-nav-text);
        text-decoration: none;
        padding: 0.25rem 0.5rem;
        position: relative;
        font-family: Georgia,
            'Times New Roman',
            Times,
            serif;
    }

    a,
    a:hover,
    a:visited {
        color: var(--color-nav-text);
    }
}

nav {
    @include breakpoint('tablet-up') {
        font-size: 1.2em;
    }
}

.nav-bkg-50 {
    color: var(--color-nav-text);
    @include brand-gradient(50%);
}

// Drop shadow for nav
.drop-shadow {
    @include drop-shadow;
    position: relative;
}

// Page-wide bar styling
.pagewide-bar-padding {
    padding: $spacing-sm $spacing-md;
}


// Right-side navigation links
details.right-links {
    float: right;
    text-align: right;
    margin-top: 0.2em;

    summary {
        list-style: none;

        &::after {
            content: "…";
            color: var(--color-text);
            border-radius: 0.25rem;
            border: 1px solid var(--color-text);
            font-weight: bold;
            padding: 2px 4px;
        }

        &::-webkit-details-marker {
            display: none;
        }
    }

    [open] & summary::after {
        background-color: var(--color-fg-darken);
    }

    ul {
        background: var(--color-header-brand-secondary-ddopacity);
        margin-top: 8px;
        padding: 8px 16px;
        width: 100vw;
        position: absolute;
        right: 0;
    }

    li {
        list-style: none;
        padding: 4px;
    }
}

ul.right-links {
    display: none;
    float: right;
    margin-right: $spacing-lg;

    li {
        display: inline-block;
        margin-right: $spacing-md;
    }
}

.theme-toggle {
    display: inline-block;
    position: absolute;
    z-index: 1000;

}

// Responsive navigation
@include breakpoint('tablet-down') {
    details.right-links {
        display: block;
    }

    ul.right-links {
        display: none;
    }

    .theme-toggle {
        top: 0.3em;
        right: 3em;
        font-size: 1.25em;
    }
}

@include breakpoint('tablet-up') {
    details.right-links {
        display: none;
    }

    ul.right-links {
        display: block;
    }

    .theme-toggle {
        font-size: 1.2em;
        top: 0.4em;
        right: 0.5em;
    }
}
