//   __  ____  _ ___ __  _
//  / / / / /_(_) (_) /_(_)__ ___
// / /_/ / __/ / / / __/ / -_|_-<
// \____/\__/_/_/_/\__/_/\__/___/

@use 'variables' as *;
@use 'mixins' as *;

// Text size utilities
.text-1p5 {
    font-size: $font-size-lg;
}

.text-0p75 {
    font-size: $font-size-xs;
}

// Visibility
.hidden {
    display: none;
}

// Responsive visibility
@include breakpoint('desktop') {
    .sidepull-not-when-sidebar-shown {
        display: none;
    }
}
