//    ___       __  __
//   / _ )__ __/ /_/ /____  ___  ___
//  / _  / // / __/ __/ _ \/ _ \(_-<
// /____/\_,_/\__/\__/\___/_//_/___/

@use "../variables" as *;
@use "../mixins" as *;
@use "../animations" as *;

.btn {
    @include btn-base;
}

a.btn-dashed {
    border: dashed 1px var(--color-btn-border);

    &:hover {
        @include drop-shadow;
        border-style: solid;
        background-color: var(--color-btn-hover-bg);
    }
}

a.no-underline:hover {
    text-decoration: none;

    .re-underline {
        text-decoration: underline;
    }
}

#scroll-button-mobile {
    width: max-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity var(--animation-med) ease;
    @media (max-width: 884px) {
        opacity: 1 !important;
    }
}

#scroll-button {
    background-color: var(--bright-yellow);
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--dark0-hard);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition:
        opacity var(--animation-med) ease,
        transform var(--animation-short) ease;
    width: fit-content;
    z-index: 99;

    padding: clamp(0.1em, 1vw, 1em);
    bottom: clamp(10px, 3vh, 40px);
    right: clamp(4px, 1vw, 45px);

    font-size: clamp(0.5rem, 1vw, 1rem);
    transform: scale(1);

    &:hover {
        animation: bounce-up 1.2s infinite;
    }

    @media (max-width: 885px) {
        opacity: 0 !important;
    }

    &:focus-visible {
        outline: 2px solid var(--color-text);
        outline-offset: 2px;
    }
}

.copy-code-button {
    background: none;
    border: none;
    margin: var(--spacing-xs);
    position: absolute;
    right: 0;
    color: var(--color-pre-text);

    &:hover,
    &:focus {
        .copy-code-icon {
            color: color-mix(
                in srgb,
                var(--color-pre-text) 60%,
                var(--color-pre-bg)
            );
            scale: 0.95;
        }
    }

    &:active {
        .copy-code-icon {
            color: color-mix(
                in srgb,
                var(--color-pre-text) 50%,
                var(--color-pre-bg)
            );
        }
    }

    .copy-code-icon {
        transition:
            color var(--animation-short) ease,
            scale var(--animation-short) ease,
            opacity var(--animation-med) linear;
        opacity: 1;
        position: absolute;
        right: 0;
        scale: 1;
    }

    .copy-code-success {
        @extend .copy-code-icon;
        opacity: 0;
        color: var(--bright-green) !important;
        stroke: var(--neutral-green);
    }
}
