{{ $section := index . "section"}}
{{ $section_title := index . "section_title"}}
{{ $content := index . "content"}}
{{ $showPreviews := index . "showPreviews" | default false }}

{{- if not (and $content $section) -}}
    {{ errorf "Partial used wrong, ensure that the arg has keys named section and content."}}
{{- end -}}

<div class="sidepull-container">
    {{ with $content }}
    <div class="sidepull-side">
        {{ . }}
    </div>
    {{ end }}
    <div class="sidepull-main">
        {{ with $section_title }}
            <h1 class="sidepull-not-when-sidebar-shown" style="margin-bottom: 1em">{{.}}</h2>
        {{ end }}
        {{ partial "post-list.html" (dict "pages" $section.Data.Pages.ByDate.Reverse "listId" "list" "showPreview" $showPreviews) }}
    </div>
</div>
