<!doctype html>
<html
    lang="{{ .Site.LanguageCode }}"
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />

        {{ partial "meta.html" . }}


        <title>
            {{ if .IsHome }}
                {{ $.Site.Title }}
            {{ else }}
                {{ .Title }} |
                {{ $.Site.Title }}
            {{ end }}
        </title>
        <link rel="canonical" href="{{ .Permalink }}" />

        {{ with .Site.Params.RSSCanonicalLink }}
            <link
                rel="alternate"
                type="application/rss+xml"
                href="{{ . | absURL }}"
                title="{{ $.Site.Title }}" />
        {{ else }}
            {{- with .OutputFormats.Get "rss" -}}
                {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
            {{- end -}}
        {{ end }}

        {{ partial "head_includes.html" . }}
        {{ partial "head-customization.html" . }}
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    </head>
    <body
        class="{{ block "body-classes" . }}{{ end }}"
        lang="{{ .Site.LanguageCode }}">
        <div class="navbar nav-bkg drop-shadow">
            <nav class="content-container pagewide-bar-padding">
                <span class="divider">/ </span>
                <a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
                {{ block "breadcrumbs" . }}
                    {{- with .Parent -}}
                        {{- if not .IsHome -}}
                            <span class="divider">/ </span>
                            <a href="{{ .RelPermalink }}">
                                {{- with .Params.breadcrumb_label -}}
                                    {{- . -}}
                                {{- else -}}
                                    {{- .Title -}}
                                {{- end -}}
                            </a>
                        {{- end -}}
                    {{- end -}}
                {{ end }}
                {{ partial "right-links" . }}
            </nav>
            {{ partial "theme-toggle-button" . }}
        </div>
        {{ block "content" . }}{{ end }}
        <iconify-icon
            icon="bxs-to-top"
            title="Go to top"
            id="scroll-button"
            height="46"
            width="46"
            role="button"
            onclick="window.scrollToTop()"></iconify-icon>
        {{ if not .Params.hide_footer }}
            {{ block "footer" . }}{{ end }}
        {{ end }}
    </body>
</html>
