{{ define "content" }}
    <section id="main" class="content-container article-pad-v">
        <h1 id="title" style="margin-bottom: 0.75em">{{ .Title }}</h1>
        <div class="sidepull-container">
            {{ with .Content }}
                {{/* TODO: sidepull needs to have CSS breakpoints / inlining */}}
                <div class="sidepull-side">
                    {{ . }}
                </div>
            {{ end }}
            <div class="sidepull-main">
                {{ partial "post-list.html" (dict "pages" .Data.Pages.ByDate.Reverse "listId" "list") }}
            </div>
        </div>
    </section>
{{ end }}
