{{ $symbolsDefault := dict
    "note" "bx-pencil"
    "abstract" "bxs-book-open"
    "info" "bx-info-circle"
    "todo" "bx-check-circle"
    "tip" "bx-bulb"
    "success" "bx-check"
    "question" "bx-help-circle"
    "warning" "bx-error"
    "failure" "bx-dizzy"
    "danger" "bx-bolt"
    "bug" "bx-bug-alt"
    "example" "bx-list-ul"
    "quote" "bxs-quote-left"
    "tldr" "bxs-timer"
}}

{{ $customSymbols := dict }}
{{ range $.Page.Site.Params.CustomAlerts }}
    {{ $customSymbols = merge $customSymbols (dict .name .icon) }}
{{ end }}

{{ $symbols := merge $symbolsDefault $customSymbols }}

{{ $symbol := index $symbols .AlertType | default "bx-info-circle" }}

{{ if ne .AlertSign "" }}
    <div
        class="alert alert-{{ .AlertType }} alert-collapsible"
        {{ if ne .AlertSign "-" }}data-open="true"{{ end }}>
        <div class="alert-summary" role="summary" tabindex="0">
            <iconify-icon
                icon="{{ $symbol }}"
                height="24"
                width="24"
                aria-label="{{ .AlertType }} alert icon"
                label="{{ .AlertType }} alert icon"></iconify-icon>
            {{ with .AlertTitle }}
                {{ . }}
            {{ else }}
                {{ or (i18n .AlertType) (title .AlertType) }}
            {{ end }}
            <iconify-icon
                class="details-arrow"
                icon="bxs:chevron-right"
                width="20"
                height="20"></iconify-icon>
        </div>
        <div class="alert-content">
            {{ .Text }}
        </div>
    </div>
{{ else }}
    <blockquote class="alert alert-{{ .AlertType }}">
        <p class="alert-heading">
            <iconify-icon
                icon="{{ $symbol }}"
                height="24"
                width="24"></iconify-icon>
            {{ with .AlertTitle }}
                {{ . }}
            {{ else }}
                {{ or (i18n .AlertType) (title .AlertType) }}
            {{ end }}
        </p>

        {{ .Text }}
    </blockquote>
{{ end }}
