//    ___        _            __  _
//   / _ | ___  (_)_ _  ___ _/ /_(_)__  ___  ___
//  / __ |/ _ \/ /  ' \/ _ `/ __/ / _ \/ _ \(_-<
// /_/ |_/_//_/_/_/_/_/\_,_/\__/_/\___/_//_/___/

@use "mixins" as *;
//Theme transition styles - only active during theme changes
// NOTE: color transitions don't work for draft backgrounds
.color-mode-transitioning {
    * {
        transition:
            color var(--animation-med) ease,
            background-color var(--animation-med) ease,
            border-color var(--animation-med) ease,
            box-shadow var(--animation-med) ease,
            fill var(--animation-med) ease,
            stroke var(--animation-med) ease;
    }

    .navbar,
    .nav-bkg {
        transition:
            color var(--animation-med) ease,
            background var(--animation-med) ease,
            border-color var(--animation-med) ease;
    }

    input,
    button,
    select,
    textarea {
        transition: none !important;
    }
}

@keyframes bounce-up {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes nudge-next {
    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }
}

@keyframes nudge-prev {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

@include breakpoint("tablet-down") {
    .btn {
        transition: all 0.2s;
        transition-delay: 300ms;

        &:active {
            transition: none;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation: none !important;
        transition: none !important;
    }
}
