//   _   __         _      __   __
//  | | / /__ _____(_)__ _/ /  / /__ ___
//  | |/ / _ `/ __/ / _ `/ _ \/ / -_|_-<
//  |___/\_,_/_/ /_/\_,_/_.__/_/\__/___/

// Breakpoints
$bp: (
    mobile: 440px,
    tablet: 720px,
    desktop: 1170px,
);

// Font sizes
$font-size: (
    xs: 0.75em,
    sm: 0.875em,
    md: 1em,
    lg: 1.5em,
    xl: 2em,
);

// Fonts
$body-font:
    arial,
    -apple-system,
    blinkmacsystemfont,
    avenir next,
    avenir,
    helvetica neue,
    helvetica,
    ubuntu,
    roboto,
    noto,
    segoe ui,
    sans-serif;
$heading-font: "Lora", georgia, "Times New Roman", times, serif;
$fancy-font: "Journal", georgia, "Times New Roman", times, serif;
$mono-font: monocode, monospace;

// SVG decorations
$underline: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2638.296 261.836' enable-background='new 0 0 2638.296 261.836' xml:space='preserve'%3E%3Cpath d='M1319.148,216.511c9.917-13.095,35.158-31.708,67.296-43.307c32.734-9.323,50.603-14.9,115.326-14.9 c0.192,1.326,3.944,18.715,4.11,19.481c60.269-20.212,135.121-24.518,197.43-24.518c5.718,6.002,12.88,12.688,16.554,17.011 c0,0,595.746-27.04,879.284-39.317c-0.001,0-879.283-39.418-879.284-39.418c-4.551,5.355-9.526,9.684-16.554,17.012 c-62.574,0-136.03-4.1-197.43-24.504c-0.217,1-3.757,17.038-4.11,19.48c-48.878,0-98.66-3.385-141.471-26.53 c-21.027-10.513-39.424-29.396-41.151-31.676c-0.758,1.001-13.707,14.108-22.854,20.43 c-47.732,33.167-101.599,37.776-159.768,37.776c-0.19-1.312-3.844-18.259-4.11-19.48c-60.484,20.1-133.846,24.504-197.429,24.504 c-7.119-7.419-11.948-11.591-16.555-17.012c-0.001,0-879.283,39.418-879.284,39.418c283.544,12.278,879.284,39.317,879.284,39.317 c3.638-4.281,10.874-11.051,16.555-17.011c63.161,0,137.53,4.43,197.429,24.518c4.341-20.06,3.35-14.224,4.11-19.481 c110.911,0,148.222,24.516,182.173,57.614L1319.148,216.511z'/%3E%3C/svg%3E");
$hr: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2618 410' enable-background='new 0 0 2618 410' xml:space='preserve'%3E%3Cpath d='M1090.638,272.033c-3.542,4.719-4.69,4.686-11.405,10.561c-109.447,96.18-295.333,89.298-387.379,40.343 c-94.812-50.45-81.876-135.391-49.003-176.158c15.855-19.683,38.031-32.744,62.098-40.765 C571.89,59.874,441.746,30.883,302.784,54.053C206.488,70.091,91.476,114.926,49.742,196.205 C-8.556,309.789,151.755,390.137,242.586,356.944c43.343-15.858,63.622-44.052,107.089-80.263 c24.325-20.967,45.605-20.749,47.736-18.588c0.966,0,1.268,0.168,1.268-0.844c9.077,5.753,11.829,7.441,11.829,14.785 c0,54.137-209.342,150.576-332.462,65.056C-87.626,198.552,190.175-23.604,555.616,55.532 c51.399,11.123,105.683,26.825,162.852,47.103c38.172-9.16,78.684-4.807,116.594,4.224c27.934-36.831,87.161-52.805,133.492-52.805 c111.042,0,171.089,66.781,171.089,118.707c0,23.934-8.449,48.012-25.346,72.237c58.857,37.169,125.782,71.671,194.705,91.294 c68.922-19.623,135.847-54.125,194.705-91.294c-16.897-24.226-25.346-48.304-25.346-72.237c0-51.926,60.047-118.707,171.089-118.707 c46.33,0,105.557,15.974,133.492,52.805c37.91-9.031,78.422-13.384,116.594-4.224c57.169-20.278,111.453-35.98,162.852-47.103 c365.441-79.136,643.241,143.02,477.57,281.557c-123.12,85.52-332.462-10.919-332.462-65.056c0-7.343,2.752-9.032,11.829-14.785 c0,1.013,0.302,0.844,1.268,0.844c2.131-2.161,23.41-2.379,47.736,18.588c43.467,36.211,63.747,64.405,107.089,80.263 c90.831,33.194,251.143-47.154,192.844-160.739c-41.733-81.279-156.745-126.114-253.041-142.152 c-138.962-23.171-269.107,5.821-402.165,51.961c24.068,8.021,46.244,21.083,62.099,40.765 c32.873,40.767,45.808,125.708-49.004,176.158c-92.046,48.955-277.932,55.837-387.379-40.343 c-6.715-5.875-7.863-5.842-11.405-10.561c-76.274,32.001-149.968,61.113-218.362,78.007 C1240.606,333.146,1166.912,304.035,1090.638,272.033z M1403.587,310.054c25.511-8.392,53.86-18.332,117.438-43.934 c-5.939-6.793-8.98-10.514-11.827-14.786C1492.377,262.109,1433.88,297.599,1403.587,310.054z M1108.802,251.333 c-2.847,4.272-5.888,7.993-11.827,14.786c63.578,25.602,91.926,35.542,117.438,43.934 C1184.12,297.599,1125.623,262.109,1108.802,251.333z M1696.972,66.304C1585.263,42.15,1487.23,106.14,1487.23,174.45 c0,24.313,9.555,45.839,23.658,65.9c17.02-6.877,144.764-98.738,264.448-130.956C1755.049,86.58,1725.236,72.415,1696.972,66.304z M842.664,109.394c119.684,32.218,247.428,124.079,264.448,130.956c14.103-20.061,23.658-41.587,23.658-65.9 c0-68.309-98.033-132.3-209.742-108.146C892.764,72.415,862.951,86.58,842.664,109.394z M1515.533,247.954 c3.148,4.498,6.036,7.726,13.097,14.786c111.068-46.233,137.133-64.091,261.912-117.017c-0.598-10.739-4.769-21.04-10.561-29.993 C1691.811,139.473,1591.446,196.586,1515.533,247.954z M838.019,115.73c-5.792,8.953-9.963,19.254-10.561,29.993 c124.779,52.927,150.844,70.784,261.912,117.017c7.06-7.06,9.949-10.288,13.097-14.786 C1026.554,196.586,926.189,139.473,838.019,115.73z M1706.267,236.337c-5.58-4.397-6.296-13.242,3.591-19.01 c24.405-14.243,48.464-8.683,63.366-21.968c12.208-10.919,16.361-24.537,17.319-40.765c-127.06,55.14-152.469,72.426-255.155,114.06 c41.577,54.942,166.733,77.73,296.555,36.542c55.314-17.576,148.699-61.955,148.699-120.184c0-23.808-22.385-58.794-79.419-74.351 c-34.469,12.991-68.584,26.571-101.809,40.978C1799.414,215.33,1724.089,250.424,1706.267,236.337z M818.586,151.638 c-33.225-14.407-67.339-27.987-101.809-40.978c-57.034,15.557-79.419,50.543-79.419,74.351c0,58.229,93.385,102.608,148.699,120.184 c129.822,41.189,254.978,18.401,296.555-36.542c-102.685-41.634-128.094-58.919-255.155-114.06 c0.958,16.229,5.111,29.846,17.319,40.765c14.902,13.285,38.961,7.725,63.366,21.968c9.886,5.768,9.171,14.613,3.591,19.01 C893.911,250.424,818.586,215.33,818.586,151.638z M1798.57,142.767c47.151-19.05,57.988-23.74,87.446-35.063 c-28.285-4.714-62.455-3.164-97.585,6.758C1793.778,122.911,1797.157,132.344,1798.57,142.767z M829.569,114.462 c-35.13-9.922-69.3-11.472-97.585-6.758c29.458,11.322,40.295,16.012,87.446,35.063 C820.843,132.344,824.222,122.911,829.569,114.462z'/%3E%3C/svg%3E%0A");

:root {
    // Spacing scale
    --spacing-xxs: 0.25em;
    --spacing-xs: 0.5em; // was sm
    --spacing-sm: 1em; // was md
    --spacing-md: 1.5em;
    --spacing-lg: 2em;
    --spacing-xl: 3em;
    --spacing-xxl: 4em;

    // Content widths
    --content-width: 45rem;
    --content-padding-mobile: 1em;
    --content-padding-desktop: 2em;

    // Border radius
    --border-radius: 4px;

    // Animation
    --animation-short: 0.2s;
    --animation-med: 0.3s;
    --animation-long: 0.4s;
}
