<!doctype html>
<html
    lang="{{ .Site.LanguageCode }}"
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />

        {{ partial "meta.html" . }}


        <title>
            {{ if .IsHome }}
                {{ $.Site.Title }}
            {{ else }}
                {{ .Title }} |
                {{ $.Site.Title }}
            {{ end }}
        </title>
        <link rel="canonical" href="{{ .Permalink }}" />

        {{ with .Site.Params.RSSCanonicalLink }}
            <link
                rel="alternate"
                type="application/rss+xml"
                href="{{ . | absURL }}"
                title="{{ $.Site.Title }}" />
        {{ else }}
            {{- with .OutputFormats.Get "rss" -}}
                {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
            {{- end -}}
        {{ end }}

        {{ partial "head_includes.html" . }}
        {{ partial "head-customization.html" . }}
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    </head>
    <body
        class="{{ block "body-classes" . }}{{ end }}"
        lang="{{ .Site.LanguageCode }}">
        <div class="top-of-page" id="top-of-page">
            <div class="navbar nav-bkg drop-shadow">
                <nav class="pagewide-bar-padding">
                    <a
                        href="{{ .Site.Home.RelPermalink }}"
                        id="nav-icon"
                        label="Home">
                        <iconify-icon
                            icon="{{ .Site.Params.nav_icon | default "bxs-home" }}"
                            inline></iconify-icon>
                    </a>
                    <div class="nav-menu-item">
                        <a href="{{ .Site.Home.RelPermalink }}">
                            {{ .Site.Title }}
                        </a>
                        <span class="nav-link-underline"></span>
                    </div>
                    {{ block "breadcrumbs" . }}
                        {{- with .Parent -}}
                            {{- if not .IsHome -}}
                                <span class="divider">/ </span>

                                <a
                                    href="{{ .RelPermalink }}"
                                    class="breadcrumb">
                                    {{- with .Params.breadcrumb_label -}}
                                        {{- . -}}
                                    {{- else -}}
                                        {{- .Title -}}
                                    {{- end -}}
                                </a>
                            {{- end -}}
                        {{- end -}}
                    {{ end }}
                    {{ partial "right-links" . }}
                    {{ partial "theme-toggle-button" . }}
                </nav>
            </div>
            {{ $progressBar := .Page.Params.progressBar | default true -}}
            {{ if and $progressBar (not .Site.Params.disableProgressBars) }}
                <div id="progress-header">
                    <div id="progress-container">
                        <div class="progress-bar" id="scroll-progress"></div>
                    </div>
                </div>
            {{ end }}
        </div>
        {{ block "content" . }}{{ end }}
        <iconify-icon
            icon="bxs-to-top"
            title="Go to top"
            id="scroll-button"
            height="46"
            width="46"
            role="button"
            tabindex="0"
            aria-label="scroll to top button"></iconify-icon>
        {{ if not .Params.hide_footer }}
            {{ block "footer" . }}{{ end }}
        {{ end }}
    </body>
</html>
